<button class="btn btn-block btn-info" (click)="viewBookDetail(book)">
  <i class="icon-search"></i> Detail
</button>

<div *ngIf="detail" [@fade]>
  <div class="modal-backdrop"></div>
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" aria-label="Close" (click)="userModalLoginVisibility(false)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="max-height: 400px; overflow: auto;">
          <h5 class="modal-title">{{book.volumeInfo.title}}</h5>
          <hr>
          <div class="text-center">
            <img src="{{book.volumeInfo.imageLinks.thumbnail}}" alt="">
          </div>
          <hr>
          <p>{{book.volumeInfo.description}}</p>
          <hr>
        </div>
        <div>
          <div class="form-group">
            <hr>
            <select class="custom-select" [(ngModel)]="paymentType">
              <option selected="" value="0">Payment Type</option>
              <option value="1">Credit Card</option>
              <option value="2">Ticket</option>
            </select>
          </div>
          <p class="text-danger text-center" *ngIf="paymentNotSelected">You <strong>must</strong> select a payment type.</p>
          <button class="btn btn-block btn-primary" (click)="doCheckout()">Buy It</button>
          <hr>
          <p class="text-center font-weight-bold">
            Knowledge Bilbiotheca
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
