<section *ngIf="viewReady" [ngStyle]="backgroundStyles">
  <!-- i've made a tipster component to evolve to a generic tipster -->
  <app-tipster *ngIf="!deviceIsMobile" [config]="tipsterConfig"></app-tipster>
  <div class="section-overlay">
    <div class="input-area-wrapper text-center">
      <h1 class="text-center">
        {{ 'HOME.I_WOULD_LIKE' | translate }} <br />
        <strong>{{ 'HOME.LEARN_MORE' | translate }}</strong>
        {{ 'HOME.ABOUT' | translate }}
      </h1>
      <br />
      <h1 *ngIf="!deviceIsMobile"  class="input-area-blinking-dash dash_blink"> {{searchParameter}} _</h1>
      <div class="col-sm-12 col-md-4 offset-md-4">
        <div class="form-group">
          <select class="custom-select" [(ngModel)]="categoryType" (ngModelChange)="navigateToCategory (categoryType)">
            <option selected="" value="0">{{ 'HOME.SELECT_A_CATEGORY' | translate }}</option>
            <option value="{{ 'HOME.PROGRAMMING' | translate }}">{{ 'HOME.PROGRAMMING' | translate }}</option>
            <option value="{{ 'HOME.HISTORY' | translate }}">{{ 'HOME.HISTORY' | translate }}</option>
            <option value="{{ 'HOME.PHILOSOPHY' | translate }}">{{ 'HOME.PHILOSOPHY' | translate }}</option>
            <option value="{{ 'HOME.SCIENCE' | translate }}">{{ 'HOME.SCIENCE' | translate }}</option>
            <option value="{{ 'HOME.MATHEMATICS' | translate }}">{{ 'HOME.MATHEMATICS' | translate }}</option>
            <option value="{{ 'HOME.POLITICS' | translate }}">{{ 'HOME.POLITICS' | translate }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="loader-wrapper" *ngIf="!viewReady">
    <div class="loader"></div>
  </div>
</section>

