<div class="row" *ngIf="!socialUser">
  <div class="col-md-12">
    <button class="btn btn-block btn-info" (click)="userModalLoginVisibility(true)">{{ 'UNAUTHENTICATED_USER.LOGIN' | translate }}</button>
  </div>
</div>

<app-user-authenticated *ngIf="authenticatedUser" [authenticatedUser]="authenticatedUser"></app-user-authenticated>

<div *ngIf="modalVisible" [@fade]>
  <div class="modal-backdrop"></div>
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ 'UNAUTHENTICATED_USER.WELCOME' | translate }}</h5>
          <button class="close" aria-label="Close" (click)="userModalLoginVisibility(false)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <hr />
          <div class="row">
            <div class="col-sm-12">
              <button class="btn btn-primary btn-block btn-social" (click)="googleLogin()">
                {{ 'UNAUTHENTICATED_USER.GOOGLE_LOGIN' | translate }}
              </button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <button class="btn btn-block"
                      (click)="userModalLoginVisibility(false)"
              >
                {{ 'UNAUTHENTICATED_USER.WITHOUT_LOGIN' | translate }}
              </button>
            </div>
          </div>
          <hr>
          <p class="text-center font-weight-bold">
            {{ 'UNAUTHENTICATED_USER.KNOWLEDGE_BIBLIOTHECA' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


