<section>
  <div class="checkout">
    <div class="col-sm-12">
      <h1 class="display-5">{{ 'CHECKOUT.CHECKOUT' | translate }}:</h1>
      <hr>
    </div>
    <div class="col-sm-12">
      <div class="shop-cart">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ 'CHECKOUT.TOTAL_BOOKS' | translate }}:
            <span class="badge badge-primary badge-pill">{{basket['count']}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ 'CHECKOUT.TOTAL_PRICE' | translate }}
            <span class="badge badge-primary badge-pill">{{ 'CHECKOUT.COIN' | translate }} {{totalAmount}}</span>
          </li>
        </ul>
        <hr>
        <app-payment-gateway [total]="totalAmount" [basket]="basket"></app-payment-gateway>
      </div>
    </div>
  </div>
</section>
