<section>
  <div class="checkout">
    <div class="col-sm-12">
      <h1 class="display-5">Checkout:</h1>
      <hr>
    </div>
    <div class="col-sm-12">
      <div class="shop-cart">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Total Books:
            <span class="badge badge-primary badge-pill">{{numberOfBooks}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Total Price
            <span class="badge badge-primary badge-pill">$ {{totalAmount}}</span>
          </li>
        </ul>
        <hr>
        <div class="form-group">
          <select class="custom-select" [(ngModel)]="paymentType">
            <option selected="" value="0">Payment Type</option>
            <option value="1">Credit Card</option>
            <option value="2">Ticket</option>
          </select>
        </div>
        <p class="text-danger text-center" *ngIf="paymentNotSelected">You <strong>must</strong> select a payment type.</p>
        <button class="btn btn-block btn-primary" (click)="doCheckout()">Checkout</button>
      </div>
    </div>
  </div>
</section>
