/* keeping cards aligned */
.img-thumbnail {
  height: 138px;
}
.card  {
  height: 240px;
  position: relative;
}
@media (max-width: 700px) {
  .card {
    height: 350px;
  }
  .button-row {
    margin-top: 15px;
  }
}
@media (min-width: 700px) {
  .button-row {
    position: absolute;
    bottom: 5px;
  }
}
