<div class="card border-secondary">
  <div class="card-header">{{book.volumeInfo.title}}</div>
  <div class="card-body text-secondary">
    <div class="row">
      <div class="col-xs-3 col-md-3 text-center">
        <img src="{{book.volumeInfo.imageLinks.thumbnail}}" class="img-thumbnail"  alt="">
      </div>
      <div class="col-xs-9 col-md-9">
        <div class="row">
          <div class="col-md-12">
            <p class="card-text">{{book.volumeInfo.description | substr}}</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="row button-row"  *ngIf="user">
          <div class="col-md-5">
            <a href="/book/{{book.id}}">
              <button class="btn btn-block btn-info">
                <i class="icon-search"></i> Detail
              </button>
            </a>
          </div>
          <div class="col-md-7">
            <app-basket  [book]="book"></app-basket>
          </div>
        </div>
        <app-book style="width: 100%"  *ngIf="!user" [book]="book"></app-book>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
