<div class="card border-secondary">
  <div class="card-header">{{book.volumeInfo.title}}</div>
  <div class="card-body text-secondary">
    <div class="row">
      <div class="col-md-3 text-center">
        <img src="{{book.volumeInfo.imageLinks.thumbnail}}" class="img-thumbnail"  alt="">
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12">
            <p class="card-text">{{book.volumeInfo.description | substr}}</p>
          </div>
        </div>
        <div class="row button-row">
          <div class="col-md-6">
            <app-book  [book]="book"></app-book>
          </div>
          <div class="col-md-6">
            <app-basket  [book]="book"></app-basket>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
